<h1 style="color:red">REGISTER HERE </h1>
    <p>Welcome, You are not yet registered here so kindly register here to see the recipes list</p>

<form action="/app/login/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    username : <input type="text" name="username"><br>
    password : <input type="password" name="password"><br>
    email    : <input type="email" name="email"><br>
    firstname: <input type="text" name="first_name"><br>
    lastname : <input type="text" name="last_name"><br>
    <input type="submit" value="Login">
</form>